* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(231, 241, 248);
}

/* --------------------------------------------------- MAIN ---------------------------------------------------*/

main {
    margin: 0 auto 0 250px;
    padding-top: 60px;
}

table {
    margin: auto;
}

input, select {
    border: 1px solid rgb(209, 209, 209);
    outline: 0;
    width: 10vw;
    background: #f2f2f2;
    margin: 0 0 2px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}

input:hover {
    border: 1px solid #51F0E5;
    transition: 0.3s;
}

label {
    color: #ffffff;
}

button {
    background-color: #59E38B;
    color: #000000;
    width: 10vw;
    height: 4vh;
    margin-top: 10px;
    padding: 10px 72px;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #51F0E5;
    transition: 0.5s;
}

h1 {
    font-size: 2.2em;
    margin: 30px 0 0 30px;
    color: rgb(39, 39, 54);
}

td {
    color: #ffffff;
}

.titulo {
    width: max(500px, 25vw);
    height: 11vh;
}

.container-dados-config {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 20vw;
    height: 12vh;
    padding: 20px 0px 150px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(39, 39, 54);
    box-shadow: 1px 1px 25px 1px #525252;
}

.dados-config {
    display: flex;
    margin: auto;
    width: 23vw;
    height: 10vh;
    height: auto;
    padding: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: cadetblue */
}

.container-categoria {
    width: 10vw;
    height: 5vh;
    /* background-color: #51F0E5; */
}

.btn-container {
    margin-top: 20px;
    width: 10vw;
    height: 6vh;
    /* background-color: #b8f051; */
}

#cadOpcoes {
    width: 9vw;
}

/* --------------------------------------------------- RESPONSIVIDADE ---------------------------------------------------*/

@media(max-width: 1600px){
    .container-dados-config {
        width: 30vw;
        height: 14vh;
    }

    .dados-config {
        width: 30vw;
        /* background-color: cadetblue */
    }

    input, select {
        width: 15vw;
    }

    button {
        width: 15vw;
    }
}

@media(max-width: 1024px){
    .container-dados-config {
        width: 50vw;
    }

    .dados-config {
        width: 55vw;
        /* background-color: cadetblue */
    }

    input, select {
        width: 20vw;
    }

    button {
        width: 20vw;
    }
}

@media(max-width: 860px) {
    /* --------------------------------------------------- MAIN ---------------------------------------------------*/
    main {
        margin: auto;
        padding-top: 150px;
        /* background-color: yellowgreen; */
    }

    input, select {
        width: 30vw;
    }

    button {
        width: 30vw;
    }
    
    .container-dados-config {
        width: 60vw;
        margin-right: 135px;
    }

    .dados-config {
        margin-right: 50px;
        width: 60vw;
        /* background-color: cadetblue */
    }

    #cadOpcoes {
        width: 2vw;
    }
}

@media(max-width: 740px) {
    /* --------------------------------------------------- MAIN ---------------------------------------------------*/
    main {
        margin: auto;
    }
    
    .container-dados-config {
        width: 70vw;
        margin: auto;
    }

    .btn-container {
        margin: 22px 0 0 70px;
        width: 10vw;
        height: 6vh;
        /* background-color: #b8f051; */
    }

    input, select {
        width: 30vw;
    }

    button {
        width: 30vw;
    }
}

@media(max-width: 540px) {
    /* --------------------------------------------------- MAIN ---------------------------------------------------*/
    main {
        margin: auto;
    }
    
    .container-dados-config {
        width: 70vw;
        height: 14vh;
        margin: auto;
    }

    .btn-container {
        margin: 50px 0 0 70px;
        width: 10vw;
        height: 6vh;
        /* background-color: #b8f051; */
    }

    input, select {
        width: 40vw;
    }

    button {
        width: 40vw;
    }
}

@media(max-width: 360px) {
    /* --------------------------------------------------- MAIN ---------------------------------------------------*/
    main {
        margin: auto;
        /* background-color: #51F0E5; */
    }
    
    .container-dados-config {
        width: 90vw;
        height: 14vh;
        margin: auto;
    }

    input, select {
        width: 50vw;
    }

    button {
        width: 50vw;
    }
}  