* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(231, 241, 248);
}


/* --------------------------------------------------- MAIN ---------------------------------------------------*/

main {
    margin: 0 auto 0 250px;
    padding-top: 60px;
}

form table {
    width: 25vw;
}

input {
    width: 100%;
    border: 1px solid rgb(209, 209, 209);
    outline: 0;
    background: #f2f2f2;
    margin: 0 0 2px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
}

input:hover {
    border: 1px solid #51F0E5;
    transition: 0.3s;
}

label {
    color: #ffffff;
}

button {
    background-color: #59E38B;
    color: #000000;
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #51F0E5;
    transition: 0.5s;
}

h1 {
    font-size: 2.2em;
    margin: 30px 0 0 30px;
    color: rgb(39, 39, 54);
}

td {
    padding-top: 10px;
    color: #ffffff;
}

.titulo {
    width: 25vw;
    height: 11vh;
}

.container-dados-config {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 30vw;
    height: max-content;
    padding: 20px 0 20px 0;
    margin: 0 auto 100px auto;
    border-radius: 10px;
    background-color: rgb(39, 39, 54);
    box-shadow: 1px 1px 25px 1px #525252;
}

.container-elementos {
    width: 20vw;
    height: 15vw;
    margin: auto;
    /* background-color: rgb(177, 233, 214); */
}

.dados-config {
    margin: auto;
    width: 15vw;
    height: 4vh;
    height: auto;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: #51F0E5; */
}

#div-btn {
    margin: 50px 500px -75px;
    width: 10vw;
    height: 5vh;
    /* background-color: #fac4ff; */
}


/* --------------------------------------------------- RESPONSIVIDADE ---------------------------------------------------*/

@media(max-width: 1600px) {
    #div-btn {
        margin: 90px 500px -75px;
        /* background-color: #fac4ff; */
    }
}

@media(max-width: 1440px) {
    #div-btn {
        margin: 130px 500px -75px;
        /* background-color: #fac4ff; */
    }
}

@media(max-width: 1024px) {
    #div-btn {
        margin: 50px 500px -75px;
        /* background-color: #fac4ff; */
    }
    .container-dados-config {
        display: flex;
    }
    .container-elementos {
        width: 50vw;
        height: 30vw;
        /* background-color: rgb(177, 233, 214); */
    }
}

@media(max-width: 860px) {
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }
    header,
    #btn,
    #cancel {
        display: none;
    }
    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }
    .sidebar a {
        height: 60px;
    }
    .sidebar a i {
        margin-left: -10px;
    }
    a:hover {
        width: 200px;
        background: inherit;
    }
    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
    main {
        margin: 0 auto 0 70px;
        padding-top: 60px;
    }
    #div-btn {
        margin: 50px 500px -75px;
        background-color: #fac4ff;
    }
    .container-dados-config {
        display: flex;
    }
    .container-elementos {
        width: 50vw;
        height: 30vw;
        /* background-color: rgb(177, 233, 214); */
    }
    .dados-config {
        width: 20vw;
        height: 0vh;
        margin-top: 100px;
    }
}