* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(231, 241, 248);
}

/* --------------------------------------------------- MAIN ---------------------------------------------------*/

main {
    margin: 0 auto 0 250px;
    padding-top: 60px;
}


input, select {
    border: 1px solid rgb(209, 209, 209);
    outline: 0;
    background: #f2f2f2;
    margin: 0 0 2px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}

input:hover {
    border: 1px solid #51F0E5;
    transition: 0.3s;
}

label {
    color: #ffffff;
}

button {
    background-color: #59E38B;
    color: #000000;
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #51F0E5;
    transition: 0.5s;
}

h1 {
    font-size: 2.2em;
    margin: 30px 0 0 30px;
    color: rgb(39, 39, 54);
}

.titulo {
    width: max(300px, 25vw);
    height: 11vh;
}

.container-dados-vagas {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70vw;
    height: 30vh;
    height: auto;
    padding: 20px 0px 150px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(39, 39, 54);
    box-shadow: 1px 1px 25px 1px #525252;
}

.dados-vagas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    width: 40vw;
    height: 4vh;
    margin-top: 40px;
    /* background-color: #59E38B; */
}

.container-placa {
    width: 10vw;
    /* background-color: #51F0E5; */
}

.container-nome {
    width: 10vw;
    /* background-color: #51F0E5; */
}

.container-catagoria {
    width: 10vw;
    /* background-color: #51F0E5; */
}

.container-tamanho {
    color: #ffffff;
    width: 20vw;
    height: 10vh;
    margin: 40px 0 0 342px;
    /* background-color: aquamarine; */
}

.container-botoes {
    width: 20vw;
    margin-bottom: 20px;
    margin-right: 20px;
    float: right;
}

.radio {
    appearance: none;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 2px solid #59E38B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background-color:#59E38B;
    border-radius: 50%;
    opacity: 0;
    transition: all 600ms ease-in-out;
}

.radio:checked:before {
    opacity: 1;
}

.radio:focus {
    box-shadow: 0 0 5px #59E38B;
}

/* --------------------------------------------------- RESPONSIVIDADE ---------------------------------------------------*/
@media(max-width: 1440px) {

    .dados-vagas {
        width: 50vw;
        /* background-color: #59E38B; */
    }

    .container-tamanho {
        margin: 40px 0 0 210px;
        /* background-color: #4eec27; */
    }
}

@media(max-width: 1024px) {

    .dados-vagas {
        width: 75vw;
        /* background-color: #59E38B; */
    }

    .container-tamanho {
        width: 40vw;
        margin: 40px 0 0 90px;
        /* background-color: #4eec27; */
    }
}  

@media(max-width: 860px) {
    /* --------------------------------------------------------------SIDEBAR--------------------------------------------------------------- */
    .sidebar{
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }

    header, #btn, #cancel {
        display: none;
    }

    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a {
        height: 60px;
    }

    .sidebar a i {
        margin-left: -10px;
    }

    a:hover {
        width: 200px;
        background: inherit;
    }

    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
    /* --------------------------------------------------------------MAIN--------------------------------------------------------------- */
    main {
        margin: 0 auto 0 70px;
        padding-top: 70px;
        /* background-color: #51F0E5; */
    }

    .container-dados-vagas {
        width: 70vw;
        height: 35vh;

    }
    

    .dados-vagas {
        display: block;
        width: 20vw;
        background-color: rgb(39, 39, 54);
    }

    .container-tamanho {
        width: 40vw;
        margin: 180px 0 0 120px;
        /* background-color: #4eec27; */
    }

    .container-botoes {
        width: 17vw;
        margin: auto;
        /* background-color: #51F0E5; */
    }
}

@media(max-width: 360px) {
    /* --------------------------------------------------------------TOPBAR--------------------------------------------------------------- */
    #user-name {
        font-family: Arial, Helvetica, sans-serif;
        float: right;
        margin: 13px 25px 10px 0;
        font-size: 0.9em;
        color: #ffffff;
    }

    #user-icon {
        float: right;
        margin: 15px 25px 10px 0;
        font-size: 0.9em;
    }
    /* --------------------------------------------------------------MAIN--------------------------------------------------------------- */
    main {
        margin: 0 auto 0 70px;
        padding-top: 70px;
        /* background-color: #51F0E5; */
    }

    .container-dados-vagas {
        width: 75vw;
        height: 35vh;
        margin-left: 20px;
    }

    .dados-vagas {
        display: block;
        width: 20vw;
        margin-left: 50px;
        background-color: rgb(39, 39, 54);
    }

    .container-tamanho {
        width: 50vw;
        margin: 180px 0 0 20px;
        /* background-color: #4eec27; */
    }

    .container-botoes {
        width: 17vw;
        margin-left: 70px;
        /* background-color: #51F0E5; */
    }
}  