* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(231, 241, 248);
}


/* --------------------------------------------------- MAIN ---------------------------------------------------*/

main {
    margin: 0 auto 0 250px;
    padding-top: 70px;
}

h1 {
    font-size: 2.2em;
    margin: 30px 0 0 30px;
    color: rgb(39, 39, 54);
}

.titulo {
    width: 20vw;
    height: 11vh;
}

.container-dados-vagas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: max-content;
    height: max-content;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgb(39, 39, 54);
    box-shadow: 1px 1px 25px 1px #525252;
}

.dados-vagas {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 20px 20px;
    display: inline;
    border-radius: 10px;
    background-color: #ffffff49;
}

.valor-total {
    text-align: center;
    font-size: 5rem;
    line-height: 50px;
    color: #59E38B;
}

i {
    font-size: 3rem;
    margin-right: 20px;
    margin-bottom: 15px;
}

p {
    text-align: center;
    font-size: 2rem;
    color: #59E38B;
    margin: 25px 0;
    line-height: 2rem;
}


/* --------------------------------------------------- RESPONSIVIDADE ---------------------------------------------------*/

@media(max-width: 1410px) {
    .container-dados-vagas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: max-content;
        height: max-content;
        padding: 10px 20px;
        margin: 20px auto;
        border-radius: 10px;
        background-color: rgb(39, 39, 54);
        box-shadow: 1px 1px 25px 1px #525252;
    }
    .dados-vagas {
        display: flex;
        justify-content: space-between;
        max-width: 500px;
        display: inline;
        border-radius: 10px;
        background-color: #ffffff49;
    }
    .valor-total {
        text-align: center;
        font-size: 5rem;
        line-height: 50px;
        color: #59E38B;
    }
    i {
        font-size: 3rem;
        margin-right: 20px;
        margin-bottom: 15px;
    }
    p {
        text-align: center;
        font-size: 2rem;
        color: #59E38B;
        margin: 25px 0;
        line-height: 2rem;
    }
}

@media(max-width: 1200px) {
    .container-dados-vagas {
        margin: auto;
        width: 50vw;
        height: auto;
    }
    .dados-vagas {
        display: flex;
        justify-content: space-between;
        max-width: 500px;
        display: inline;
        border-radius: 10px;
        background-color: #ffffff49;
        margin: 20px 20px;
    }
    .valor-total {
        text-align: center;
        font-size: 5rem;
        line-height: 50px;
        color: #59E38B;
    }
    i {
        font-size: 3rem;
        margin-right: 20px;
        margin-bottom: 15px;
    }
    p {
        text-align: center;
        font-size: 2rem;
        color: #59E38B;
        margin: 25px 0;
        line-height: 2rem;
    }
}


@media(max-width: 1000px) {
    .container-dados-vagas {
        margin: auto;
        width: 50vw;
        height: auto;
    }
    .dados-vagas {
        display: flex;
        justify-content: space-between;
        max-width: 500px;
        display: inline;
        border-radius: 10px;
        background-color: #ffffff49;
        margin: 20px 20px;
    }
    .valor-total {
        text-align: center;
        font-size: 5rem;
        line-height: 50px;
        color: #59E38B;
    }
    i {
        font-size: 3rem;
        margin-right: 20px;
        margin-bottom: 15px;
    }
    p {
        text-align: center;
        font-size: 2rem;
        color: #59E38B;
        margin: 25px 0;
        line-height: 2rem;
    }
}

@media(max-width: 860px) {
    /* --------------------------------------------------------------MAIN--------------------------------------------------------------- */
    main {
        margin: auto;
        padding-top: 150px;
        /* background-color: #59E38B; */
    }
    .container-dados-vagas {
        margin: auto;
        width: 50vw;
        height: auto;
    }
    .dados-vagas {
        display: flex;
        justify-content: space-between;
        max-width: 500px;
        display: inline;
        border-radius: 10px;
        background-color: #ffffff49;
        margin: 20px 20px;
    }
    .valor-total {
        text-align: center;
        font-size: 5rem;
        line-height: 50px;
        color: #59E38B;
    }
    i {
        font-size: 3rem;
        margin-right: 20px;
        margin-bottom: 15px;
    }
    p {
        text-align: center;
        font-size: 2rem;
        color: #59E38B;
        margin: 25px 0;
        line-height: 2rem;
    }
}

@media(max-width: 540px) {
    /* --------------------------------------------------------------MAIN--------------------------------------------------------------- */
    main {
        padding-top: 150px;
    }
    .container-dados-vagas {
        margin: auto;
        width: 60vw;
        height: auto;
    }

    .dados-vagas {
        width: 60vw;
        height: 25vh;
    }

    .valor-total {
        font-size: max(50px, 5vw);
        color: #59E38B;
    }
}

@media(max-width: 360px) {
    /* --------------------------------------------------------------TOPBAR--------------------------------------------------------------- */
    #user-name {
        font-family: Arial, Helvetica, sans-serif;
        float: right;
        margin: 13px 25px 10px 0;
        font-size: 0.9em;
        color: #ffffff;
    }
    #user-icon {
        float: right;
        margin: 15px 25px 10px 0;
        font-size: 0.9em;
    }
    /* --------------------------------------------------------------MAIN--------------------------------------------------------------- */
    main {
        padding-top: 150px;
    }

    .container-dados-vagas {
        width: 70vw;
        height: 62vh;
        margin-left: 25px;
    }

    .dados-vagas {
        width: 55vw;
        height: 30vh;
        margin: auto;
    }

    .valor-total {
        font-size: max(50px, 5vw);
        color: #59E38B;
    }
}