* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(231, 241, 248);
}

/* --------------------------------------------------- MAIN ---------------------------------------------------*/

main {
    margin: 0 auto 0 250px;
    padding-top: 70px;
}

h1 {
    font-size: 2.2em;
    margin: 30px 0 0 30px;
    color: rgb(39, 39, 54);
}

p {
    width: 18vw;
    height: 5vh;
    margin: -60px auto 0 120px;
    font-size: min(20px, 1.8em);
    color: #59E38B;
}

.titulo {
    width: 20vw;
    height: 11vh;
}

.container-dados-vagas {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80vw;
    height: 32vh;
    height: auto;
    padding: 20px 0px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(39, 39, 54);
    box-shadow: 1px 1px 25px 1px #525252;
}

.container-dados-vagas-02 {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 85vw;
    height: 32vh;
    padding: 20px 0px;
    margin: 80px auto 30px auto;
    border-radius: 10px;
    background-color: rgb(39, 39, 54);
    box-shadow: 1px 1px 25px 1px #525252;
}

.dados-vagas {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 25vw;
    height: 30vh;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff49;
}

#vagas-icon {
    margin: 30px 0 0 20px;
    font-size: min(80px, 15vw);
    color: #78F051;
}

.valor-total {
    margin: auto 0 0 190px;
    font-size: max(50px, 5vw);
    color: #59E38B;
}


.dashboard {
    width: 82vw;
    height: 30vh;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff49;
}

/* --------------------------------------------------- RESPONSIVIDADE ---------------------------------------------------*/

@media(max-width: 1600px) {.container-dados-vagas {
        width: 73vw;
        height: 40vh;
        margin-left: 90px;
    }

    .container-dados-vagas-02 {
        width: 73vw;
        height: 30vh;
        margin-left: 90px;
    }

    .dados-vagas {
        width: 30vw;
        height: 35vh;
        margin: auto;
    }

    .dashboard {
        width: 70vw;
        height: 28vh;
        margin: auto;
        border-radius: 10px;
        background-color: #ffffff49;
    }

    .valor-total {
        margin: 50px 0 0 190px;
        font-size: max(50px, 5vw);
        color: #59E38B;
    }
} 

@media(max-width: 1440px) {.container-dados-vagas {
        width: 70vw;
        height: 40vh;
        margin-left: 90px;
    }

    .container-dados-vagas-02 {
        width: 70vw;
        height: 30vh;
        margin-left: 90px;
    }

    .dados-vagas {
        width: 25vw;
        height: 30vh;
        margin: auto;
    }

    .dashboard {
        width: 65vw;
        height: 28vh;
        margin: auto;
        border-radius: 10px;
        background-color: #ffffff49;
    }

    .valor-total {
        margin: 50px 0 0 140px;
        font-size: max(50px, 5vw);
        color: #59E38B;
    }
}

@media(max-width: 1024px) {.container-dados-vagas {
    width: 60vw;
    height: 62vh;
    margin-left: 90px;
    }

    .container-dados-vagas-02 {
        width: 60vw;
        height: 30vh;
        margin-left: 90px;
    }

    .dados-vagas {
        width: 35vw;
        height: 30vh;
        margin: auto;
    }

    .dashboard {
        width: 55vw;
        height: 25vh;
        margin: auto;
        border-radius: 10px;
        background-color: #ffffff49;
    }

    .valor-total {
        margin: 50px 0 0 150px;
        font-size: max(50px, 5vw);
        color: #59E38B;
    }
} 

@media(max-width: 860px) {
    /* --------------------------------------------------------------SIDEBAR--------------------------------------------------------------- */
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }

    header, #btn, #cancel {
        display: none;
    }

    span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }

    .sidebar a {
        height: 60px;
    }

    .sidebar a i {
        margin-left: -10px;
    }

    a:hover {
        width: 200px;
        background: inherit;
    }

    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
    }
    /* --------------------------------------------------------------MAIN--------------------------------------------------------------- */
    main {
        margin: 0 auto 0 70px;
        padding-top: 70px;
   }
    
    .container-dados-vagas {
        width: 60vw;
        height: 62vh;
        margin-left: 130px;
        }
    
    .container-dados-vagas-02 {
        width: 60vw;
        height: 30vh;
        margin-left: 130px;
    }

    .dados-vagas {
        width: 35vw;
        height: 30vh;
        margin: auto;
    }

    .dashboard {
        width: 40vw;
        height: 20vh;
        margin: auto;
        border-radius: 10px;
        background-color: #ffffff49;
    }

    .valor-total {
        margin: 70px 0 0 120px;
        font-size: max(50px, 5vw);
        color: #59E38B;
    }
} 

@media(max-width: 540px) {
    /* --------------------------------------------------------------MAIN--------------------------------------------------------------- */
    main {
        margin: 0 auto 0 70px;
        padding-top: 70px;
    }

    .container-dados-vagas {
        width: 70vw;
        height: 62vh;
        margin-left: 50px;
        }

    .container-dados-vagas-02 {
        width: 70vw;
        height: 30vh;
        margin-left: 50px;
    }

    .dados-vagas {
        width: 55vw;
        height: 30vh;
        margin: auto;
    }

    .dashboard {
        width: 45vw;
        height: 20vh;
        margin: auto;
        border-radius: 10px;
        background-color: #ffffff49;
    }

    .valor-total {
        margin: 70px 0 0 120px;
        font-size: max(50px, 5vw);
        color: #59E38B;
    }
}

@media(max-width: 360px) {
/* --------------------------------------------------------------TOPBAR--------------------------------------------------------------- */
    #user-name {
        font-family: Arial, Helvetica, sans-serif;
        float: right;
        margin: 13px 25px 10px 0;
        font-size: 0.9em;
        color: #ffffff;
    }

    #user-icon {
        float: right;
        margin: 15px 25px 10px 0;
        font-size: 0.9em;
    }
/* --------------------------------------------------------------MAIN--------------------------------------------------------------- */
    main {
        margin: 0 0 0 70px;
        padding-top: 70px;
    }

    p {
        margin: -60px auto 0 80px;
    }

    .container-dados-vagas {
        width: 70vw;
        height: 62vh;
        margin-left: 25px;
        }

    .container-dados-vagas-02 {
        width: 70vw;
        height: 30vh;
        margin-left: 25px;
    }

    .dados-vagas {
        width: 55vw;
        height: 30vh;
        margin: auto;
    }

    .dashboard {
        width: 40vw;
        height: 20vh;
        margin: auto;
        border-radius: 10px;
        background-color: #ffffff49;
    }

    .valor-total {
        margin: 90px 0 0 70px;
        font-size: max(50px, 5vw);
        color: #59E38B;
    }
}
