* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(231, 241, 248);
}

/* --------------------------------------------------- MAIN ---------------------------------------------------*/

main {
    margin: 0 auto 0 250px;
    padding-top: 60px;
}

table {
    margin: auto;
}

input, select {
    border: 1px solid rgb(209, 209, 209);
    width: 11vw;
    outline: 0;
    background: #f2f2f2;
    margin: 0 0 2px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}

input:hover {
    border: 1px solid #51F0E5;
    transition: 0.3s;
}

label {
    color: #ffffff;
}

button {
    background-color: #59E38B;
    width: 11vw;
    height: 4vh;
    color: #000000;
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #51F0E5;
    transition: 0.5s;
}

h1 {
    font-size: 2.2em;
    margin: 30px 0 0 30px;
    color: rgb(39, 39, 54);
}

td {
    color: #ffffff;
    padding: 5px;
}

.titulo {
    width: max(500px, 25vw);
    height: 11vh;
}

.container-dados-config {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 20vw;
    height: 13vh;
    padding: 20px 0px 150px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(39, 39, 54);
    box-shadow: 1px 1px 25px 1px #525252;
}

.dados-config {
    margin: auto;
    width: 35vw;
    height: 4vh;
    height: auto;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: #51F0E5; */
}

.btn-container {
    width: 10vw;
    height: 5vh;
    float: right;
    /* background-color: rgb(99, 64, 64); */
}

#cadOpcoes {
    width: 9vw;
}

/* --------------------------------------------------- RESPONSIVIDADE ---------------------------------------------------*/

@media(max-width: 1600px) {
    .container-dados-config {
        width: 30vw;
        height: 15vh;
    }

    .dados-config {
        width: 40vw;
        /* background-color: #51F0E5; */
    }

    input, select {
        width: 13vw;
    }

    button {
        width: 13vw;
        height: 5vh;
    }
}

@media(max-width: 1440px) {
    .container-dados-config {
        width: 30vw;
        height: 15vh;
    }

    .dados-config {
        width: 45vw;
        /* background-color: #51F0E5; */
    }

    input, select {
        width: 14vw;
    }

    button {
        width: 14vw;
        height: 5vh;
    }
}

@media(max-width: 1024px) {
    .container-dados-config {
        width: 30vw;
        height: 15vh;
    }

    .dados-config {
        width: 55vw;
        /* background-color: #51F0E5; */
    }

    input, select {
        width: 20vw;
    }

    button {
        width: 20vw;
        height: 5vh;
    }
}

@media(max-width: 860px) {
    /* --------------------------------------------------- MAIN ---------------------------------------------------*/
    main {
        margin: 0 auto 0 70px;
        padding-top: 150px;
    }

    .container-dados-config {
        width: 40vw;
        height: 15vh;
    }

    .dados-config {
        width: 75vw;
        /* background-color: #51F0E5; */
    }
    .btn-container {
        width: 10vw;
        height: 5vh;
        margin-right: 80px;
        /* background-color: rgb(99, 64, 64); */
    }

    #cadOpcoes {
        width: 2vw;
    }

    input, select {
        width: 30vw;
    }

    button {
        width: 30vw;
        height: 5vh;
    }
}  

@media(max-width: 540px) {
    /* --------------------------------------------------- MAIN ---------------------------------------------------*/
    main {
        margin: auto;
        /* background-color: #51F0E5; */
    }

    .container-dados-config {
        width: 80vw;
        height: 19vh;
    }

    .dados-config {
        width: 75vw;
        /* background-color: #51F0E5; */
    }
    .btn-container {
        width: 10vw;
        height: 5vh;
        margin-right: 80px;
        /* background-color: rgb(99, 64, 64); */
    }

    input, select {
        width: 70vw;
    }

    button {
        width: 70vw;
        height: 5vh;
    }
} 

@media(max-width: 360px) {
    /* --------------------------------------------------- MAIN ---------------------------------------------------*/
    main {
        margin: auto;
        /* background-color: #51F0E5; */
    }

    .container-dados-config {
        width: 100vw;
        height: 19vh;
        margin: auto;
    }

    .dados-config {
        width: 75vw;
        /* background-color: #51F0E5; */
    }
    .btn-container {
        width: 10vw;
        height: 5vh;
        margin-right: 80px;
        /* background-color: rgb(99, 64, 64); */
    }

    input, select {
        width: 70vw;
    }

    button {
        width: 70vw;
        height: 5vh;
    }
}  