* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(231, 241, 248);
}

/* --------------------------------------------------- MAIN ---------------------------------------------------*/

main {
    margin: 0 auto 0 250px;
    padding-top: 60px;
}


input, select {
    border: 1px solid rgb(209, 209, 209);
    outline: 0;
    background: #f2f2f2;
    width: 10vw;
    margin: 0 0 2px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}

input:hover {
    border: 1px solid #51F0E5;
    transition: 0.3s;
}

label {
    color: #ffffff;
}

button {
    background-color: #59E38B;
    color: #000000;
    width: 10vw;
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
}

button:hover {
    background-color: #51F0E5;
    transition: 0.5s;
}

h1 {
    font-size: 2.2em;
    margin: 30px 0 0 30px;
    color: rgb(39, 39, 54);
}

td {
    color: #ffffff;
}

table {
    margin: auto;
} 

.titulo {
    width: max(500px, 25vw);
    height: 11vh;
}

.container-dados-config {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50vw;
    height: 13vh;
    padding: 20px 0px 150px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(39, 39, 54);
    box-shadow: 1px 1px 25px 1px #525252;
}

.dados-config {
    display: flex;
    margin: auto;
    width: 30vw;
    height: 4vh;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cadOpcoes {
    width: 9vw;
}

/* --------------------------------------------------- RESPONSIVIDADE ---------------------------------------------------*/

@media(max-width: 1600px) {
    .container-dados-config {
        width: 50vw;
        height: 16vh;
    }
    
    .dados-config {
        display: flex;
        margin: auto;
        width: 50vw;
        height: 4vh;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media(max-width: 1440px) {
    input, select {
        width: 17vw;
    }

    .container-dados-config {
        width: 50vw;
        height: 16vh;
    }
    
    .dados-config {
        display: flex;
        margin: auto;
        width: 50vw;
        height: 4vh;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media(max-width: 1024px) {
    input, select {
        width: 17vw;
    }

    .container-dados-config {
        width: 60vw;
        height: 16vh;
    }
    
    .dados-config {
        display: flex;
        margin: auto;
        width: 60vw;
        height: 4vh;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media(max-width: 860px) {
    /* --------------------------------------------------- MAIN ---------------------------------------------------*/
    main {
        margin: auto;
        padding-top: 150px;
        /* background-color: #51F0E5; */
    }

    input, select {
        width: 25vw;
    }

    #cadOpcoes {
        width: 2vw;
    }

    .container-dados-config {
        width: 80vw;
        height: 16vh;
    }
    
    .dados-config {
        display: flex;
        margin: auto;
        width: 80vw;
        height: 4vh;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media(max-width: 560px) {
    /* --------------------------------------------------- MAIN ---------------------------------------------------*/
    main {
        margin: auto;
        padding-top: 150px;
        /* background-color: #51F0E5; */
    }

    input, select {
        width: 25vw;
    }

    .container-dados-config {
        width: 85vw;
        height: 16vh;
    }
    
    .dados-config {
        display: flex;
        margin: auto;
        width: 85vw;
        height: 4vh;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

/* @media(max-width: 360px) {
    .container-dados-config {
        width: 90vw;
        height: 25vh;
    }
} */